################################################################################
# UCF file for Nexys4 Artix-7 XC7A100T-1CSG324C                                #
################################################################################

NET "CLK_IN"   LOC = "E3"  | IOSTANDARD = "LVCMOS33" | PERIOD = 100 MHz;
NET "RST_X_IN" LOC = "V10" | IOSTANDARD = "LVCMOS33";  # S, High-Active

## LEDs
NET "ULED<0>"  LOC = "T8"  | IOSTANDARD = "LVCMOS33";
NET "ULED<1>"  LOC = "V9"  | IOSTANDARD = "LVCMOS33";
NET "ULED<2>"  LOC = "R8"  | IOSTANDARD = "LVCMOS33";
NET "ULED<3>"  LOC = "T6"  | IOSTANDARD = "LVCMOS33";
NET "ULED<4>"  LOC = "T5"  | IOSTANDARD = "LVCMOS33";
NET "ULED<5>"  LOC = "T4"  | IOSTANDARD = "LVCMOS33";
NET "ULED<6>"  LOC = "U7"  | IOSTANDARD = "LVCMOS33";
NET "ULED<7>"  LOC = "U6"  | IOSTANDARD = "LVCMOS33";
NET "ULED<8>"  LOC = "V4"  | IOSTANDARD = "LVCMOS33";
NET "ULED<9>"  LOC = "U3"  | IOSTANDARD = "LVCMOS33";
NET "ULED<10>" LOC = "V1"  | IOSTANDARD = "LVCMOS33";
NET "ULED<11>" LOC = "R1"  | IOSTANDARD = "LVCMOS33";
NET "ULED<12>" LOC = "P5"  | IOSTANDARD = "LVCMOS33";
NET "ULED<13>" LOC = "U1"  | IOSTANDARD = "LVCMOS33";
NET "ULED<14>" LOC = "R2"  | IOSTANDARD = "LVCMOS33";
NET "ULED<15>" LOC = "P2"  | IOSTANDARD = "LVCMOS33";

## Cellular RAM
NET "PSRAM_CLK"     LOC = "T15"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADV_X"   LOC = "T13"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_CE_X"    LOC = "L18"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_OE_X"    LOC = "H14"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_WE_X"    LOC = "R11"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_LB_X"    LOC = "J15"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_UB_X"    LOC = "J13"  | IOSTANDARD = "LVCMOS33";

NET "PSRAM_DATA<0>"  LOC = "R12"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<1>"  LOC = "T11"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<2>"  LOC = "U12"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<3>"  LOC = "R13"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<4>"  LOC = "U18"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<5>"  LOC = "R17"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<6>"  LOC = "T18"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<7>"  LOC = "R18"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<8>"  LOC = "F18"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<9>"  LOC = "G18"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<10>" LOC = "G17"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<11>" LOC = "M18"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<12>" LOC = "M17"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<13>" LOC = "P18"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<14>" LOC = "N17"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_DATA<15>" LOC = "P17"  | IOSTANDARD = "LVCMOS33";

NET "PSRAM_ADDR<0>"  LOC = "J18"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<1>"  LOC = "H17"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<2>"  LOC = "H15"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<3>"  LOC = "J17"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<4>"  LOC = "H16"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<5>"  LOC = "K15"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<6>"  LOC = "K13"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<7>"  LOC = "N15"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<8>"  LOC = "V16"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<9>"  LOC = "U14"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<10>" LOC = "V14"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<11>" LOC = "V12"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<12>" LOC = "P14"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<13>" LOC = "U16"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<14>" LOC = "R15"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<15>" LOC = "N14"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<16>" LOC = "N16"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<17>" LOC = "M13"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<18>" LOC = "V17"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<19>" LOC = "U17"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<20>" LOC = "T10"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<21>" LOC = "M16"  | IOSTANDARD = "LVCMOS33";
NET "PSRAM_ADDR<22>" LOC = "U13"  | IOSTANDARD = "LVCMOS33";
